.md-grid {
    max-width: 1440px;
}

/* .dot-table svg { */
/*   width: 100vw; */
/*   height: 100vh; */
/*   max-width: 100%; */
/*   max-height: 100%; */
/*   display: block; */
/* } */

/* Import Fira Code from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

/* Apply Fira Code font to code blocks and inline code */
code, pre {
    font-family: 'Fira Code', monospace;
}

/* remove max-width so content spans full viewport */
:root {
  --md-container-max-width: 100%;
}
/* optional: tweak horizontal padding */
.md-container {
  padding-left: 1rem;
  padding-right: 1rem;
}
